body{

    background-blend-mode: luminosity;
    background-color: turquoise;
    font-size: large;
    font-family: cursive;
    font-style: oblique;

}
    

}
header {
    margin: auto;
    border-top-style: double;
    text-underline-offset: ;
    text align: center;
    padding: auto;
    pattern::backdrop;
    

}
h3{
font-size: large;
font-family: 'Courier New', Courier, monospace;
font color: position: left: ;;


}

p {

    font-family: Verdana,;
    font-style: italic;
    font-variant: inherit;
    
}
    

